body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffeaa7;
  background-image: url("https://transparenttextures.com/patterns/checkered-pattern.png");
}

nav, footer, button, span, .todo-list {
  font-family: "Architects Daughter", cursive;
}

/* Scroll Bar Customization*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bfc0c1;
}

/* Handling Header and Footer */
.my-navbar, footer {
  background-color: #f5ba13;
  align-items: center;
  padding: 16px 32px;
  display: flex;
  width: 100%;
}

.navbar-brand, .nav-link {
  color: #FFFFFF;
  font-weight: 200;
  font-size: 30px;
}

.nav-link {
  font-size: 20px;
}

.nav-item{
  padding: 10px 20px;
}

footer {
  border-radius: 25px 25px 0px 0px;
  justify-content: center;
  width: fit-content;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

/*Stick Footer*/
.page {
  justify-content:space-between;
  flex-direction:column;
  align-items: center;
  min-height: 100vh;
  display:flex;
  width: 100%;
}

/* Handling Todo List*/
.todo-list {
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  box-shadow: 4px 3px 7px 2px #00000040;
  background-size: 25px 25px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px 8px;
  min-height: 500px;
  max-width: 350px;
  min-width: 270px;
  margin: 12px;
}

.heading {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.heading h1 {
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  transform: rotate(2deg);
  font-size: 1.5rem;
  padding: 10px;
}

.form {
  justify-content: space-between;
  margin: 0px 5px 20px;
  display: flex;
}

.form input {
  border-bottom: dashed 3px #fdcb6e !important;
  background-color: transparent;
  margin: 0px 10px 0px 0px;
  color: #000000;
  font-size: 18px;
  width: 77.5%;
  border: none;
}

.form input[type="text"]:focus {
  outline: none;
}

.btn {
  background-color: #fdcb6e;
  height: fit-content;
  padding: 10px 15px;
  border: none;
}

.item {
  text-align: left;
  font-size: 18px;
  padding: 8px;
}

.item span {
  padding: 7px 15px;
}

.item input:checked+span {
  text-decoration: line-through;
  color: #fdcb6e;
}

/*Aligning Notes*/
.row {
  width: 100%;
  margin: 0px;
}
.col {
  padding: 6px;
}

/*Notes*/
.note-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}

.note {
  box-shadow: 0 2px 5px #ccc;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  border-radius: 7px;
  background: #fff;
  padding: 10px;
  min-width: 280px;
  max-width: 390px;
  flex: 1;
  margin: 16px;
}

.note h1 {
  margin-bottom: 6px;
  font-size: 1.75rem;
  font-weight: bold;
  border-bottom: solid 2px #fdcb6e;
  word-wrap: break-word;
}

.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note input {
  margin: 3px 0px 10px;
  width: 100%;
}

.note textarea {
  border-left: solid 3px #fdcb6e !important;
  border-top: solid 3px #fdcb6e !important;
  border: none;
  height: 80px;
  padding: 5px;
  width: 100%;
  resize: none;
}

.note textarea:focus {
  outline: none;
}

.note-button {
  position: relative;
  float: right;
}

.note-button{
  background-color: #f5ba13;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  transition: all 0.25s ease-in-out;
}
.note-button p{
  margin-bottom: 0px;
  font-size: 30px;
}

.del {
  background-color: #ff3838;
  top: -25px;
}

.del:hover {
  border: solid 2px #ff3838 !important;
  color: #ff3838 !important;
}

.note-button:hover {
  transition: all 0.25s ease-in;
  background-color: #f1f5f8;
  border: solid 2px #f5ba13;
  transform: scale(1.15);
  color: #f5ba13;
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 25px;
  }
  .nav-link {
    font-size: 16px;
  }
  .nav-item{
    padding: 5px 10px;
  }
  .my-navbar {
    padding: 5px;
  }
  footer {
    font-size: 16px;
  }
  .page {
    align-items: center;
  }
  .note {
    margin: 7px 7px 15px;
  }
  .col, .col-auto {
    width: 100%;
    padding: 0px;
  }
}